  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <a href="/" <%- title === 'garner' ? 'class="active-logo"' : '' %>><img src="/assets/garner-logo.png" alt="garner" class="logo"></a>
    <a href="/games" class="a-tag <%- title === 'All Games' ? 'active' : '' %>">All Games</a>
    <a href="/games/new" class="a-tag <%- title === 'Add Game' ? 'active' : '' %>">Add Game</a>
    <a href="/platforms" class="a-tag <%- title === 'All Platforms' ? 'active' : '' %>">All Platforms</a>
    <a href="/platforms/new" class="a-tag <%- title === 'Add Platform' ? 'active' : '' %>">Add Platform</a>
    <a href="/profile" class="a-tag <%- title === 'My Profile' ? 'active' : '' %>">My Profile</a>
    <% if (user) { %>
      <a href="/auth/logout" class="right">
        <button type="submit" id="logout">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="filled_black"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
