<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (title === 'Edit Game' && game.owner.equals(user?.profile._id)) { %>
  <form
  class="edit-game-form"
  action="/games/<%= game._id %>?_method=PUT"
  method="POST"
  autocomplete="off"
  >
    <label>
      Name:
      <input required value="<%= game.name %>" type="text" name="name" placeholder="Enter Name">
    </label>
    <label>
      Image:
      <input value="<%= game.image %>" type="text" name="image" placeholder="Enter Image Url">
    </label>
    <button type="submit">Update Game</button>
  </form>
  <% } else if (title === 'Edit Comment' && comment.commenter.equals(user?.profile._id)) { %>
    <div class="comment-form">
      <img src="<%= user.profile.avatar %>">
      <form action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=PUT" method="POST" autocomplete="off">
        <input value="<%= comment.content %>" type="text" placeholder="Edit comment" name="content">
        <button type="submit">Edit</button>
      </form>
    </div>
  <% } else { %>
    <h2>Please log in to access this page</h2>
  <% } %>
</main>

<%- include('../partials/footer') %>