<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <% games.forEach(game => { %>
      <div class="game-container">
        <a href="/games/<%= game._id %>">
          <img src="<%= game.image %>">
        </a>
          <div class="index-platforms-container">
            <a class="platform-name" href="/games/<%= game._id %>"><%= game.name %></a>
            <% game.platforms.forEach(platform => { %>
              <a class="platform-icon" href="/platforms/<%= platform._id %>"><img src="<%= platform.image %>"></a>
            <% }) %>
          </div>
      </div>
    <% }) %>
  </section>
</main>
    
<%- include('../partials/footer') %>