<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <% if (games.length) { %>
    <% games.forEach(game => { %>
      <div class="game-container">
        <a href="/games/<%= game._id %>">
          <% if (game.image.length) { %>
            <img src="<%= game.image %>">
          <% } else { %>
            <div class="no-image">
              <p>Owner needs to add image</p>
            </div>
          <% } %>
        </a>
          <div class="index-platforms-container">
            <a class="platform-name" href="/games/<%= game._id %>"><%= game.name %></a>
            <% game.platforms.forEach(platform => { %>
              <a class="platform-icon" href="/platforms/<%= platform._id %>"><img src="<%= platform.image %>"></a>
            <% }) %>
          </div>
      </div>
    <% }) %>
    <% } else { %>
      <% if (user) { %>
        <h2>Add some Games!</h2>
      <% } else { %>
        <h2>Please sign in to add some Games!</h2>
      <% } %>
    <% } %>
  </section>
</main>
    
<%- include('../partials/footer') %>