<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css">
<script defer src="/js/script.js"></script>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <img src="<%= game.image %>" width="700px">
  <% if (game.owner.equals(user?.profile._id)) { %>
    <div class="game-btns-container">
      <form action="/games/<%= game._id %>/edit">
        <button type="submit">Edit this Game</button>
      </form>
      <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
        <button>Delete this Game</button>
      </form>
    </div>
  <% } %>
  <% if (game.owner.equals(user?.profile._id)) { %>
    <p>Added by you</p>
  <% } else { %>
    <p>Added by <%= game.owner.name %></p>
  <% } %>
  <h1>Available On</h1>
  <% if (game.platforms.length) { %>
    <div class="platforms-container">
      <% game.platforms.forEach(platform => { %>
        <div>
          <a href="/platforms/<%= platform._id %>"><img src="<%= platform.image %>"></a>
          <a href="<%= platform.store %>" target="_blank"><%= platform.name %></a>
          <% if (game.owner.equals(user?.profile._id)) { %>
            <form action="/games/<%= game._id %>/platforms/<%= platform._id %>?_method=DELETE" method="POST">
              <button class="platform-remove-btn">X</button>
            </form>
          <% } %>
        </div>
      <% }) %>
    <% } else { %>
      <h2>No platforms have been added yet</h2>
    <% } %>
  </div>

  <% if (game.owner.equals(user?.profile._id)) { %>
    <form action="/games/<%= game._id %>/platforms" method="POST">
      <select name="platformId">
        <% gamePlatforms.forEach(platform => { %>
          <option value="<%= platform._id %>"><%= platform.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add to Platforms</button>
    </form>
  <% } %>

  <h1>Comments</h1>
  <div class="all-comments-container">
    <% if (user) { %>
      <div class="comment-form">
        <img src="<%= user.profile.avatar %>">
        <form action="/games/<%= game._id %>/comments" method="POST" autocomplete="off">
          <input type="text" placeholder="Add a comment" name="content">
          <button type="submit">Comment</button>
        </form>
      </div>
    <% } else { %>
      <h3>Sign in to leave a comment.</h3>
    <% } %>
    <% if (game.comments.length) { %>
      <% game.comments.forEach((comment, idx) => { %>
        <div class="comment-container">
          <div class="comment">
            <img src="<%= comment.commenter.avatar %>">
            <div class="commenter-and-content">
              <a href="/games/<%= game._id %>"><%= comment.commenter.name %></a>
              <p class="content"><%= comment.content %></p>
            </div>
          </div>
          <% if (comment.commenter.equals(user?.profile._id)) { %>
          <div class="comment-btns-container">
            <form action="/games/<%= game._id %>/comments/<%= comment._id %>/edit">
              <button type="submit">Edit</button>
            </form>
            <form action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <button type="submit">Remove</button>
            </form>
          </div>
          <% } %>
        </div>
      <% }) %>
      <% } else { %>
        <h2>No comments yet</h2>
      <% } %>
    </div>
</main>
    
<%- include('../partials/footer') %>