<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <img src="<%= game.image %>">
  <% if (game.owner.equals(user?.profile._id)) { %>
    <div class="btn-container">
      <form action="/games/<%= game._id %>/edit">
        <button type="submit">Edit this Game</button>
      </form>
      <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
        <button>Delete this Game</button>
      </form>
    </div>
  <% } %>
  <% if (game.owner.equals(user?.profile._id)) { %>
    <p>Added by you</p>
  <% } else { %>
    <p>Added by <%= game.owner.name %></p>
  <% } %>
  <a href="<%= game.purchase %>" target="_blank">Available for purchase here</a>
  <h1>Comments</h1>
  <div class="comments-container">
    <% if (user) { %>
      <div class="comment-form">
        <img src="<%= user.profile.avatar %>">
        <form action="/games/<%= game._id %>/comments" method="POST" autocomplete="off">
          <input type="text" placeholder="Add a comment" name="content">
          <button type="submit">Comment</button>
        </form>
      </div>
    <% } %>
    <% if (game.comments.length) { %>
      <% game.comments.forEach(comment => { %>
        <div class="comment">
          <img src="<%= comment.commenter.avatar %>">
          <a href="/games/<%= game._id %>"><%= comment.commenter.name %></a>
          <p><%= comment.content %></p>
        </div>
      <% }) %>
    <% } else { %>
      <div class="no-comments">
        <h3>No comments yet</h3>
      </div>
    <% } %>
  </div>
</main>
    
<%- include('../partials/footer') %>